<div class="main-footer">
  <div class="container">
    <div class="row">
      <div class=" col-6 footer-left-side">
        <div class="display-flex footer-texts-box ">
          <div class="footer-elements footer-texts">Privacy Policy</div>
          <div class="footer-elements footer-texts">Terms & Conditions</div>
          <div class="footer-elements footer-texts">Allergy Information</div>
        </div>
        <div class="display-flex">
          <div class="footer-elements">
            <a class="fab fa-linkedin social-media-icon"></a>
          </div>
          <div class="footer-elements">
            <a class="fab fa-facebook-square social-media-icon"></a>
          </div>
          <div class="footer-elements">
            <a class="fab fa-twitter-square social-media-icon"></a>
          </div>

          <div class="footer-elements">
            <a class="fab fa-instagram social-media-icon"></a>
          </div>
        </div>
      </div>
      <div
        class="col-6 col-sm-6 col-md-6 col-lg-6 footer-right-side display-flex"
      >
        <div>
          <div class="footer-elements">
            We accept
          </div>
          <div class="display-flex cards-box">
            <div class="footer-elements">
              <a class="fab fa-cc-mastercard cards-icon"></a>
            </div>
            <div class="footer-elements">
              <a class="fab fa-cc-visa cards-icon"></a>
            </div>
          </div>
        </div>
        <div>
          <div class="footer-elements">powered by</div>
          <div class="footer-elements">XEPOS</div>
        </div>
      </div>
    </div>
  </div>
</div>
