@font-face {
  font-family: "avant-garde-bold";
  src: url(assets/fonts/ITCAvantGardeGothicBold.otf) format("opentype");
}
@font-face {
  font-family: "avant-garde-medium";
  src: url(assets/fonts/ITCAvantGardeGothicMedium.otf) format("opentype");
}

@font-face {
  font-family: "avant-garde-book";
  src: url(assets/fonts/ITCAvantGardeGothicMedium.otf) format("opentype");
}

