.display-flex {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.hide-text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

button{
  cursor: pointer;
  outline: none;

  &:focus {
    outline: none;
  }
}
