@font-face {
  font-family: "neuzeit-grotesk-light";
  // src: url(assets/fonts/ITCAvantGardeGothicBold.otf) format("opentype");
}
@font-face {
  font-family: "moderno-bold";
  // src: url(assets/fonts/ITCAvantGardeGothicMedium.otf) format("opentype");
}
@font-face {
  font-family: "moderno-regular";
  // src: url(assets/fonts/ITCAvantGardeGothicMedium.otf) format("opentype");
}
@font-face {
  font-family: "futura-light";
  // src: url(assets/fonts/ITCAvantGardeGothicMedium.otf) format("opentype");
}
@font-face {
  font-family: "futura-medium";
  // src: url(assets/fonts/ITCAvantGardeGothicMedium.otf) format("opentype");
}
@font-face {
  font-family: "futura-book";
  // src: url(assets/fonts/ITCAvantGardeGothicMedium.otf) format("opentype");
}



